[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-google-genai = "*"
langchainhub = "*"
langchain-pinecone = "*"
langchain = "*"
python-dotenv = "*"
langchain-community = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
